@use "../design.scss" as *;
@use "../mixins.scss" as *;
@use "../extend.scss" as *;

.home-page {
  @include flex(row, center, center);
  position: relative;
  flex-direction: column;

  &-banner {
    @include flex(row, center, center);
    width: 100%;
    background-color: rgba(var(--bp-gary-1-rgb), 0.6);
    min-height: 320px;
    border-bottom: $borderSize solid var(--bp-gary-2);
    padding-bottom: 40px;

    &-content {
      width: 1376px;
      padding: 40px 20px;

      &-title {
        font-size: 36px;
        color: var(--bp-gary-9);
        letter-spacing: 1px;
        font-weight: 500;
        @extend .font-quick !optional;
      }

      &-remark {
        width: 760px;
        margin-top: 20px;
        line-height: 1.8;
        font-size: 16px;
        font-weight: 500;
        color: var(--bp-gary-7);
        letter-spacing: 0.4px;
        @extend .font-quick !optional;

        img {
          display: inline;
          position: relative;
          top: 5px;
          height: 20px;
          opacity: 1;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            opacity: 0.6;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }

  &-search {
    @include flex(row, center, center);
    position: sticky;
    top: 0;
    width: 100%;
    margin-top: -36px;
    z-index: 9;

    &-container {
      width: 1376px;
      padding: 0 20px;
    }

    &-inner {
      display: flex;
      height: 66px;
      border: $borderSize solid var(--bp-gary-2);
      border-radius: 10px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
      background-color: var(--bp-gary-0);
      @extend .font-quick !optional;
    }

    &-select {
      display: flex;
      width: 220px;
      height: 100%;
      padding: 10px 16px;

      .bp-trigger {
        width: 100%;
      }

      &-container {
        @include flex(row, space-between, center);
        width: 100%;
        height: 100%;
        background-color: var(--bp-gary-1);
        border-radius: 6px;
        padding: 0 18px;
        cursor: pointer;
        transition: all 0.2s ease;

        span {
          font-size: 16px;
          font-weight: bold;
          color: var(--bp-gary-7);
          letter-spacing: 0.4px;
          transition: all 0.2s ease;
          @extend .text-ellipsis !optional;
        }

        .bp-icon {
          fill: var(--bp-gary-5);
          transition: all 0.2s ease;
        }

        &:hover {
          background-color: var(--bp-primary-1);
          transition: all 0.2s ease;

          span {
            color: var(--bp-gary-8);
            transition: all 0.2s ease;
          }

          .bp-icon {
            fill: var(--bp-primary-6);
            transition: all 0.2s ease;
          }
        }
      }

      .trigger-active {
        background-color: var(--bp-primary-1);
        transition: all 0.2s ease;

        span {
          color: var(--bp-gary-8);
          transition: all 0.2s ease;
        }

        .bp-icon {
          fill: var(--bp-primary-6);
          transition: all 0.2s ease;
        }
      }
    }

    &-input {
      @include flex(row, flex-start, center);
      flex: 1;
      padding: 10px;

      &-icon {
        width: 40px;

        .bp-icon {
          position: relative;
          fill: var(--bp-gary-5);
          transition: all 0.2s ease;
        }
      }

      .search-active {
        .bp-icon {
          fill: var(--bp-primary-6);
          transition: all 0.2s ease;
        }
      }

      &-inner {
        flex: 1;
        width: 100%;
        height: 100%;

        input {
          width: 100%;
          height: 100%;
          font-size: 18px;
          color: var(--bp-gary-9);
          font-weight: 500;
          letter-spacing: 0.4px;
          @extend .font-quick !optional;
        }

        .bp-input-placeholder {
          color: var(--bp-gary-5);
          font-weight: 400;
        }
      }
    }
  }

  &-icons {
    @include flex(row, center, center);
    width: 100%;
    padding-top: 36px;
    padding-bottom: 200px;
    background-color: var(--bp-gary-0);

    &-container {
      width: 1376px;
    }
  }
}

.icon-select-trigger {
  width: 220px;
  max-height: 400px;
  padding: 10px 6px;
  background-color: var(--bp-gary-0);
  border: $borderSize solid var(--bp-gary-2);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: hidden !important;

  &:hover {
    overflow-y: auto !important;
  }

  &-item {
    list-style: none;
    height: 38px;
    line-height: 38px;
    padding: 0 24px;
    border-radius: 4px;
    cursor: pointer;
    @extend .font-quick !optional;

    &-inner {
      display: flex;
      justify-content: space-between;
      width: 160px;
    }

    span {
      font-size: 14px;
      font-weight: bold;
      color: var(--bp-gary-8);
      letter-spacing: 0.4px;
      transition: all 0.2s ease;
    }

    .icons-length {
      opacity: 0.5;
      font-size: 13px;
      font-weight: normal;
    }

    &:hover {
      background-color: var(--bp-gary-1);
      transition: all 0.2s ease;

      span {
        color: var(--bp-gary-9);
        transition: all 0.2s ease;
      }
    }
  }

  .active {
    background-color: var(--bp-gary-1);
    transition: all 0.2s ease;

    span {
      color: var(--bp-primary-6);
      transition: all 0.2s ease;
    }
  }
}

.home-icon-group {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &-title {
    @include flex(row, flex-start, center);
    padding: 0 28px;
    margin-bottom: 20px;
    @extend .font-quick !optional;

    p {
      color: var(--bp-gary-8);
      font-size: 20px;
      font-weight: bold;
    }

    span {
      color: var(--bp-gary-6);
      font-size: 13px;
      background-color: var(--bp-gary-1);
      padding: 2px 10px;
      border-radius: 4px;
      font-weight: bold;
      margin-left: 8px;
      letter-spacing: 1px;
    }
  }

  &-container {
    display: block;
    width: 100%;
  }

  &-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(1376px / 10);
    height: 110px;
    box-sizing: border-box;
    background-color: var(--bp-gary-0);
    border-radius: 10px;
    border: $borderSize solid var(--bp-gary-0);
    padding: 16px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--bp-gary-1);
      transition: all 0.2s ease;

      .bp-icon {
        fill: var(--bp-primary-6);
        transform: scale(1.2);
        transition: all 0.2s ease;
      }
    }

    .bp-icon {
      fill: var(--bp-gary-8);
      transform: scale(1);
      transition: all 0.2s ease;
    }

    &-name {
      font-size: 12px;
      color: var(--bp-gary-6);
      margin-top: 10px;
      text-align: center;
      @extend .font-quick !optional;
    }
  }
}

.icon-modal-body {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  .icon-area {
    @include flex(row, center, center);
    width: 76px;
    height: 76px;
    border-radius: 10px;
    border: $borderSize solid var(--bp-gary-4);
  }

  .icon-info {
    @include flex(column, space-between, flex-start);
    flex: 1;
    margin-left: 20px;

    &-title {
      @include flex(row, center, center);
      font-size: 20px;
      font-weight: bold;
      color: var(--bp-gary-9);
      letter-spacing: 0.4px;
      @extend .font-quick !optional;

      .bp-icon {
        margin-left: 4px;
        fill: var(--bp-gary-6);
        cursor: pointer;
        transform: scale(1);
        transition: all 0.2s ease;

        &:hover {
          fill: var(--bp-gary-9);
          transform: scale(1.08);
          transition: all 0.2s ease;
        }
      }
    }

    &-component {
      @include flex(row, center, center);
      width: max-content;
      height: 34px;
      padding: 0 0 0 10px;
      border: $borderSize solid var(--bp-gary-4);
      border-radius: 6px;

      &-left {
        display: flex;
        align-items: center;

        .bp-icon {
          fill: var(--bp-gary-5);
        }

        .component-tag-inner {
          font-size: 13px;
          height: 16px;
          color: var(--bp-gary-8);
          font-weight: 500;
          letter-spacing: 0.8px;
          margin: 0 4px;
          line-height: 1;
          @extend .font-quick !optional;
        }
      }

      &-right {
        @include flex(row, center, center);
        width: 34px;
        height: 33px;
        background-color: var(--bp-gary-0);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;

        .bp-icon {
          fill: var(--bp-gary-9);
        }
      }
    }
  }
}

.bp-modal-footer {
  border-top: $borderSize solid var(--bp-gary-2);

  .icon-modal-footer {
    @include flex(row, space-between, center);
    width: 100%;
    height: 24px;

    .footer-option {
      .vc-color-wrap {
        border-radius: 4px;
      }
    }

    .footer-copyright {
      &-inner {
        color: var(--bp-gary-3);
        font-size: 12px;
        letter-spacing: 0.2px;
        @extend .font-quick !optional;
      }
    }
  }
}

@media (max-width: 960px) {
  .home-page {
    &-banner {
      &-content {
        width: 100%;

        &-title {
          font-size: 32px;
        }

        &-remark {
          width: 100%;
          font-size: 14px;
        }
      }
    }

    &-search {
      margin-top: -26px;

      &-container {
        width: 100%;
        padding: 0 20px;
      }

      &-inner {
        display: flex;
        height: 52px;
        border-radius: 6px;
      }

      &-select {
        display: flex;
        width: 140px;
        padding: 6px 8px;

        &-container {
          span {
            font-size: 14px;
          }
        }
      }

      &-input {
        &-icon {
          width: 30px;
        }
        &-inner {
          input {
            font-size: 16px;
          }
        }
      }
    }

    .home-icon-group {
      &-container {
        width: 100%;
        padding: 0 20px;
      }
      &-item {
        width: 33%;
      }
    }
  }
}
