.top-bar {
  @include flex(row, center, center);
  position: relative;
  height: 60px;
  border-bottom: 1px solid var(--gary-4);
  background-color: var(--gary-2);

  &-inner {
    @include flex(row, flex-start, center);
    width: 1200px;
    padding: 0 20px;
  }

  &-logo {
    @include flex(row, flex-start, center);

    &-inner {
      height: 20px;
    }

    &-version {
      margin-left: 8px;
      background-color: var(--gary-1);
      border: $borderSize solid var(--gary-5);
      padding: 4px 10px;
      letter-spacing: 0.5px;
      border-radius: 6px;
      font-weight: bold;
      color: var(--gary-9);
      font-size: 12px;
      @extend .font-quick !optional;
    }
  }
}
