.home-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-banner {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid @gary-4;

    &-inner-content {
      width: 1200px;
    }
  }

  &-search {
    position: relative;
    top: -36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-cotainer {
      width: 1200px;
      padding: 0 20px;
    }

    &-inner {
      display: flex;
      height: 66px;
      border: 1px solid @gary-3;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      background-color: @gary-1;
    }

    &-select {
      width: 220px;
      padding: 10px 16px;

      &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: @gary-3;
        border-radius: 6px;
        padding: 0 18px;
        cursor: pointer;
        transition: all 0.2s ease;
        .font-quick;
        .no-select;

        span {
          font-size: 16px;
          font-weight: bold;
          color: @gary-8;
          letter-spacing: 0.4px;
          transition: all 0.2s ease;
        }

        .bp-icon {
          fill: @gary-6;
          transition: all 0.2s ease;
        }

        &:hover {
          background-color: @primary-0;
          transition: all 0.2s ease;

          span {
            color: @gary-9;
            transition: all 0.2s ease;
          }

          .bp-icon {
            fill: @primary-6;
            transition: all 0.2s ease;
          }
        }
      }
    }

    &-input {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;

      &-icon {
        width: 40px;

        .bp-icon {
          position: relative;
          top: 2px;
          fill: @gary-6;
        }
      }

      &-inner {
        flex: 1;
        width: 100%;
        height: 100%;

        input {
          width: 100%;
          height: 100%;
          font-size: 18px;
          color: @gary-10;
          .font-quick;
          .no-select;
        }
      }
    }
  }
}
