.home-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-banner {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid @gary-4;

    &-inner-content {
      width: 1200px;
    }
  }

  &-search {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -36px;
    z-index: 99;

    &-cotainer {
      width: 1200px;
      padding: 0 20px;
    }

    &-inner {
      display: flex;
      height: 66px;
      border: 1px solid @gary-3;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      background-color: @gary-1;
    }

    &-select {
      display: flex;
      width: 220px;
      height: 100%;
      padding: 10px 16px;

      .bp-trigger {
        width: 100%;
      }

      &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: @gary-3;
        border-radius: 6px;
        padding: 0 18px;
        cursor: pointer;
        transition: all 0.2s ease;
        .font-quick;
        .no-select;

        span {
          font-size: 16px;
          font-weight: bold;
          color: @gary-8;
          letter-spacing: 0.4px;
          transition: all 0.2s ease;
        }

        .bp-icon {
          fill: @gary-6;
          transition: all 0.2s ease;
        }

        &:hover {
          .trigger-active;
        }
      }

      .trigger-active {
        background-color: @primary-0;
        transition: all 0.2s ease;

        span {
          color: @gary-9;
          transition: all 0.2s ease;
        }

        .bp-icon {
          fill: @primary-6;
          transition: all 0.2s ease;
        }
      }
    }

    &-input {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;

      &-icon {
        width: 40px;

        .bp-icon {
          position: relative;
          top: 2px;
          fill: @gary-6;
          transition: all 0.2s ease;
        }
      }

      .search-active {
        .bp-icon {
          fill: @primary-6;
          transition: all 0.2s ease;
        }
      }

      &-inner {
        flex: 1;
        width: 100%;
        height: 100%;

        input {
          width: 100%;
          height: 100%;
          font-size: 18px;
          color: @gary-10;
          font-weight: 500;
          letter-spacing: 0.4px;
          .font-quick;
          .no-select;
        }

        .bp-input-placeholder {
          color: @gary-6;
          font-weight: 400;
        }

        input::placeholder {
          .bp-input-placeholder;
        }

        input::-webkit-input-placeholder {
          .bp-input-placeholder;
        }

        input::-moz-placeholder {
          .bp-input-placeholder;
        }

        input::-moz-placeholder {
          .bp-input-placeholder;
        }

        input::-ms-input-placeholder {
          .bp-input-placeholder;
        }

        input::-ms-input-placeholder {
          .bp-input-placeholder;
        }
      }
    }
  }

  &-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 36px;

    &-cotainer {
      width: 1200px;
      padding: 0 20px;
    }
  }
}

.icon-select-trigger {
  width: 220px;
  max-height: 400px;
  padding: 10px 6px;
  background-color: @gary-1;
  border: 1px solid @gary-3;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: hidden !important;

  &:hover {
    overflow-y: auto !important;
  }

  &-item {
    list-style: none;
    height: 38px;
    line-height: 38px;
    padding: 0 24px;
    border-radius: 4px;
    cursor: pointer;

    &-inner {
      display: flex;
      justify-content: space-between;
      width: 160px;
    }

    span {
      font-size: 14px;
      font-weight: bold;
      color: @gary-9;
      letter-spacing: 0.4px;
      transition: all 0.2s ease;
      .font-quick;
      .no-select;
    }

    .icons-length {
      opacity: 0.5;
      font-size: 13px;
      font-weight: normal;
    }

    &:hover {
      background-color: @gary-2;
      transition: all 0.2s ease;

      span {
        color: @gary-10;
        transition: all 0.2s ease;
      }
    }
  }
}

.home-icon-group {
  .no-select;

  &:not(:first-child) {
    margin-top: 40px;
  }

  &-title {
    display: flex;
    align-items: center;
    padding: 0 28px;
    margin-bottom: 20px;
    .font-quick;

    p {
      color: @gary-9;
      font-size: 20px;
      font-weight: bold;
    }

    span {
      color: @gary-7;
      font-size: 13px;
      background-color: @gary-3;
      padding: 1px 12px;
      border-radius: 4px;
      margin-left: 8px;
      letter-spacing: 1px;
    }
  }

  &-container {
    display: block;
    width: 1200px;
    padding: 0 20px;
  }

  &-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 128px;
    height: 100px;
    box-sizing: border-box;
    background-color: @gary-1;
    border-radius: 10px;
    border: 1px solid @gary-1;
    padding: 16px;
    transition: all 0.2s ease;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: @gary-2;
      border: 1px solid @gary-3;
      transition: all 0.2s ease;

      .bp-icon {
        fill: @primary-6;
        transform: scale(1.2);
        transition: all 0.2s ease;
      }
    }

    .bp-icon {
      fill: @gary-9;
      transform: scale(1);
      transition: all 0.2s ease;
    }

    &-name {
      font-size: 12px;
      color: @gary-7;
      margin-top: 10px;
      text-align: center;
    }
  }
}
